<!DOCTYPE html>
<html>
<head id="Head1">
    <title>
        北流市达武城市设计院 CDAD
    </title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <meta name="keywords" content="北流市达武城市设计院,CDAD">
    <meta name="description" content="北流市达武城市设计院">
    <meta name="Copyright" content="北流市达武城市设计院">
    @RenderSection("Styles",required:false)
</head>
<body>
    <div class="header">
        <a href="/" class="logo" title="成都市建筑设计研究院"></a>
    </div>
    <div class="wrapper" id="pagemain">
        <div class="navlist">
            <ul id="mainnav">
                <li class="active"><a href="@Url.Action("Index","Home")">网站首页</a></li>
                <li><a href="@Url.Action("Index", "News")">新闻资讯</a></li>
                <li><a href="@Url.Action("Index", "CompanyProfile")">企业概况</a></li>
                <li><a href="@Url.Action("Index", "AchievementShow")">成果展示</a></li>
                <li><a href="@Url.Action("Index", "PartyBuilding")">党团建设</a></li>
                <li><a href="@Url.Action("Index", "Recruitment")">人才招聘</a></li>
                <li><a href="@Url.Action("Index", "Contact")">联系我们</a></li>
            </ul>
        </div>
        @RenderBody()
    </div>
    @RenderSection("Scripts", required: false)
    
    <script type="text/javascript" src="js/index/jquery.js"></script>
    <script type="text/javascript" src="js/index/jquery.jslides.js"></script>
    <script type="text/javascript" src="js/index/jquery.jslides_index.js"></script>
    <script type="text/javascript" src="js/index/common.js"></script>
</body>
</html>


