<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0022)http://www.cdadri.com/ -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>
        北流市达武城市设计院 CDAD
    </title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <meta name="keywords" content="北流市达武城市设计院,CDAD">
    <meta name="description" content="北流市达武城市设计院（以下简称CDAD）始建于1959年，前身为北流市设计院，1991年6月正式更名为“北流市达武城市设计院">
    <meta name="Copyright" content="北流市达武城市设计院">
</head>
<body style="width: 1536px; height: 656px;">
    <input type="hidden" id="pageid" value="0">
    <div class="bannerbox">
        <ul id="slides">

            <li style="background-image: url(&quot;/UpFiles/Banner/20171016092952.jpg&quot;); z-index: 9; display: none;"> <a href="http://www.cdadri.com/" target="_blank"></a></li>

            <li style="background-image: url(&quot;/UpFiles/Banner/20171016093009.jpg&quot;); z-index: 9; display: none;"> <a href="http://www.cdadri.com/" target="_blank"></a></li>

            <li style="background-image: url(&quot;/UpFiles/Banner/20171016093025.jpg&quot;); z-index: 9; display: none;"> <a href="http://www.cdadri.com/" target="_blank"></a></li>

            <li style="background-image: url(&quot;/UpFiles/Banner/20171016093038.jpg&quot;); z-index: 8; display: block;"> <a href="http://www.cdadri.com/" target="_blank"></a></li>

        </ul><div id="pagination"><div class="pbox"><div class="plist"><span class="">1</span><span class="">2</span><span class="">3</span><span class="current">4</span></div></div></div>
    </div>
    <div class="containner">
        <div class="pagemain">
            <div class="logo"><img src="images/index/logo-home.png" title="北流市达武城市设计院"></div>
            <div class="box clearfix">
                <div class="boxleft">
                    <div class="navlist">
                        <ul id="Tabs">
                            <li class="active"><a href="@Url.Action("Index")">网站首页</a></li>
                            <li><a href="@Url.Action("Index", "News")">新闻资讯</a></li>
                            <li><a href="@Url.Action("Index", "CompanyProfile")">企业概况</a></li>
                            <li><a href="@Url.Action("Index", "AchievementShow")">成果展示</a></li>
                            <li><a href="@Url.Action("Index", "PartyBuilding")">党团建设</a></li>
                            <li><a href="@Url.Action("Index", "Recruitment")">人才招聘</a></li>
                            <li><a href="@Url.Action("Index", "Contact")">联系我们</a></li>
                        </ul>
                    </div>
                </div>
                <div class="boxright">
                    <div class="close-right">
                        <span class="">收起</span>
                    </div>
                    <div class="contentpanel">
                        <div class="mainbox"></div>
                        <div class="mainbox">
                            <div class="curtitle">新闻资讯</div>
                            <div class="newsabout">
                                <ul class="newsnav">
                                    <li><a href="http://www.cdadri.com/news/list-1.html">企业新闻</a></li>
                                    <li><a href="http://www.cdadri.com/news/list-2.html">职工风采</a></li>
                                </ul>
                                <div>北流市达武城市设计院官方新闻发布平台，包括企业日常新闻动态和相关项目等图文信息。<br></div>
                            </div>
                            <div class="news-scroll">
                                <ul id="slides_news">

                                    <li style="z-index: 8; display: block;">
                                        <a href="http://www.cdadri.com/news/94.html">
                                            <div class="fl">
                                                <img src="images/index/20171027023128603.jpg" width="500" height="300">
                                            </div>
                                            <div class="newsintro">
                                                <h2 class="ellipsis-2">中地海外集团率埃塞俄比亚设计团队来我院交流考察</h2>
                                                <p class="time">2017-10-27</p>
                                                <div class="sumry ellipsis-4">
                                                    2017年10月24日，中地海外集团ETHB项目部张显、我院ETHB项目合作单位埃塞K2N设计公司一行九人来我院交流考察及配合完成项目的设计工作。我院领导热情接待了来宾，并在院党委副书记兼二所所长李繁的陪同下参观了我院各生产所。

                                                    院党委副书记兼二所所长李繁对中地海外集团及埃塞K2N设计公司的到来表示热烈的欢迎，就我院
                                                </div>
                                            </div>
                                        </a>
                                    </li>

                                    <li style="z-index: 9; display: none;">
                                        <a href="http://www.cdadri.com/news/92.html">
                                            <div class="fl">
                                                <img src="images/index/20170926042811891.jpg" width="500" height="300">
                                            </div>
                                            <div class="newsintro">
                                                <h2 class="ellipsis-2">打造国际名片 重现盛世锦城|我院中标锦城绿道东标段</h2>
                                                <p class="time">2017-09-26</p>
                                                <div class="sumry ellipsis-4">
                                                    “一轴两山环七道”，天府绿道承载天府文化，统筹生态家园。相信不久的将来，人们便可沐浴在深厚人文气息里，在田园风光中尽情抚花赏水、观光休憩。
                                                </div>
                                            </div>
                                        </a>
                                    </li>

                                    <li style="z-index: 9; display: none;">
                                        <a href="http://www.cdadri.com/news/89.html">
                                            <div class="fl">
                                                <img src="images/index/20170904074907735.jpg" width="500" height="300">
                                            </div>
                                            <div class="newsintro">
                                                <h2 class="ellipsis-2">CDAD荣获四川省勘协设计“一带一路”工作先进单位称号</h2>
                                                <p class="time">2017-09-04</p>
                                                <div class="sumry ellipsis-4">
                                                    8月30日下午，成都市建筑设计研究院(以下称CDAD)参加四川省勘察设计“一带一路”创新发展经验交流暨表彰会议，获得四川省勘察设计“一带一路”工作先进单位荣誉称号。











                                                    会议由四川省勘察设计协会举办，四川省住房和城乡建设厅原副厅长、四川省勘察设计协会常务副理事长杨光、四川省住房和城乡
                                                </div>
                                            </div>
                                        </a>
                                    </li>

                                </ul><div id="pagination_news"><div class="pbox"><div class="plist"><span class="current">1</span><span class="">2</span><span class="">3</span></div></div></div>
                            </div>
                        </div>
                        <div class="mainbox">
                            <div class="curtitle">企业概况</div>
                            <div class="aboutintro">我们的愿景：成为中国城市建设领域领先的、以工程设计为核心、提供全流程设计咨询服务的高科技、创新型企业。<br>我们的使命：构想城市未来 ，创造宜居空间。<br>我们的价值观：创新 · 激情 · 坚持 · 分享</div>
                            <div class="clearfix">
                                <ul class="aboutmenu">
                                    <li><a href="http://www.cdadri.com/zzjg.html">组织架构</a></li>
                                    <li><a href="http://www.cdadri.com/honor.html">企业资质</a></li>
                                    <li><a href="http://www.cdadri.com/award.html">荣誉奖项</a></li>

                                </ul>
                                <div class="aboutimg clearfix">
                                    <img src="images/index/about-1.jpg">
                                    <img src="images/index/about-2.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="mainbox">
                            <div class="curtitle">成果展示</div>
                            <div class="aboutintro">市场营销事业部是成都市建筑设计研究院“转型升级，再创业”过程中重要开拓部门，通过专业的市场营销体系和团队建设，CDAD将更贴近客户需求，并为客户提供专人专职专岗的VIP服务。</div>
                            <div class="clearfix">
                                <img src="images/index/scyx.png">
                            </div>
                        </div>
                        <div class="mainbox">
                            <div class="curtitle">党团建设</div>
                            <div class="aboutintro">成都市建筑设计研究院下设五个综合建筑设计所、景观规划所、规划设计所、市政设计所、环境艺术设计所、工程总承包事业部、新型城镇化研究所、方案创作中心、绿色建筑研发中心等业务部门；<br>涵盖城市规划与城市设计、工程总承包管理、建筑设计 BIM 技术应用、市政设计、新型城镇化建设与研究、景观设计、环境艺术设计、绿色建筑设计与研究、古建筑设计、建筑工程全程咨询、装修设计与施工一体化、住宅产业化研究、机电设计、施工图审查等专业领域；能承担大型工程项目的可行性研究、总体规划、技术咨询、工程设计、项目管理、工程总承包等业务。<br></div>
                            <div class="clearfix">
                                <ul class="aboutmenu dd">
                                    <li class="dd"><a href="http://www.cdadri.com/sjzx/1.html">党支部建设</a></li>
                                    <li class="dd"><a href="http://www.cdadri.com/sjzx/6.html">团支部建设</a></li>
                                    <li class="dd"><a href="http://www.cdadri.com/sjzx/2.html">党员服务志愿队</a></li>
                                </ul>
                                <div class="aboutimg dd clearfix">
                                    <img src="images/index/sjzx.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="mainbox">
                            <div class="curtitle">人才招聘</div>
                            <div class="aboutintro">2010年, 成都市建筑设计研究院成立了工程总承包事业部, 重点推动实施以设计牵头的工程总承包（EPC）服务。以设计牵头的工程总承包（EPC）模式下，设计方、施工方作为统一主体对工程负责，强化了责任、配合意识；通过管理，突出设计环节在控制造价、优化施工组织措施、监督施工质量的核心作用；同时，该模式在控制项目周期上优势明显，使业主需求得到最大化满足。</div>
                            <div class="aboutcenterimg clearfix">
                                <img src="images/index/gczcb.png">
                            </div>
                        </div>
                        <div class="mainbox">
                            <div class="curtitle">联系我们</div>
                            <div class="contactbox">
                                <div class="contactintro">
                                    <!--<h3>成都市建筑设计研究院</h3>
                                    <h4>CHENGDU ARCHITECTURAL DESIGN & RESEARCH INSTITUTE</h4>
                                    -->
                                    <div class="intro">地址：成都市人民中路一段东御河沿街16号<br>邮编：610015<br>传真：028-8661 5227<br><br>联系电话：<br>人才应聘： 028-8651 1733 <br>业务联系： 028-8661 7862 / 028-8662 5940-2122<br>新疆分院： 0991-8890915</div>
                                </div>
                                <div class="weixin">
                                    <img src="images/index/ewm.jpg">
                                    <p>手机微信扫一扫</p>
                                    <p>关注官方微信号</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="wrapper">Copyright © Chengdu Architectural Design &amp; Research Institute. All right reserved.</div>
    </div>
    <script type="text/javascript" src="js/index/jquery.js"></script>
    <script type="text/javascript" src="js/index/jquery.jslides.js"></script>
    <script type="text/javascript" src="js/index/jquery.jslides_index.js"></script>
    <script type="text/javascript" src="js/index/index.js"></script>
    <script type="text/javascript" src="js/index/common.js"></script>
</body>
</html>